.cata {
  display: flex;
  flex-direction: column;
}
.cata .cata_name {
  display: block;
  width: 100Px;
  height: 48Px;
  line-height: 48Px;
  text-align: center;
  font-size: 14Px;
}
.cata .select {
  color: blueviolet!important;
}
