.foodList {
  padding: 10Px;
  flex-grow: 1;
}
.foodList .foodlist_item {
  margin-top: 10Px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
}
.foodList .foodlist_item .foodlist_item_img {
  width: 80Px;
  height: 80Px;
  border-radius: 4Px;
}
.foodList .foodlist_item .foodlist_item_info {
  display: flex;
  flex-direction: column;
  margin-left: 10Px;
  font-size: 14Px;
  height: 80Px;
  justify-content: space-between;
  position: relative;
  flex-grow: 1;
}
