.activity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12Px;
  padding: 0 10Px;
  height: 30Px;
  margin-top: 10Px;
}
.activity .type {
  color: #fffff;
  background: red;
  width: 20Px;
  height: 20Px;
  border-radius: 1Px solid;
  text-align: center;
  line-height: 20Px;
}
.activity .length {
  color: #cccccd;
}
